<h1 class="headings">Registration</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFName">First Name</label>
            <input type="text" formControlName="fName" class="form-control" id="inputFName">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLName">Last Name</label>
            <input type="text" formControlName="lName" class="form-control" id="inputLName">
          </div>
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="email" formControlName="email" class="form-control" id="inputEmail">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input type="password" formControlName="password" class="form-control" id="inputPassword">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" formControlName="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputContact">Contact</label>
      <input type="text" formControlName="contact" class="form-control" id="inputContact" placeholder="+91">
    </div>
    <button type="submit" class="btn btn-crimson">Sign in</button>
  </form>