<nav class="navbar navbar-expand-lg navbar-light bg-main">
    <a class="navbar-brand text-light" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="/home" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light"   >Employee List</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link dropdown-toggle text-light text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employee Action
          </a>
          <div class="dropdown-menu bg-main" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" routerLink="404">Timesheet</a>
            <a class="dropdown-item text-light" routerLink="404">Leaves</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" routerLink="404">Edit Skill</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-light" routerLink="/contact" href="#">Contact US</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 text-light" type="submit">Search</button>
      </form>
    </div>
  </nav>