<!--<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
        <label for="inputEmail1">Email</label>
        <input type="email" formControlName="email" class="form-control" id="inputEmail1">
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword1">Password</label>
        <input type="password" formControlName="password" class="form-control" id="inputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>-->
<h1 class="headings">Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-crimson">Login</button>
  </form>

